@model DataLayer.StudentCourseViewModel
@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Name  </th>
        <th>Email </th>
        <th>Password </th>
        <th>Confirm Password</th>
        <th>Phone No</th>
        <th>Subjects</th>
    </tr>
    @foreach (var students in Model.StudentViewModels)
    {
    <tr>
        <td> @students.Student.Name </td>
        <td> @students.Student.Email</td>
        <td> @students.Student.Password</td>
        <td> @students.Student.ConfirmPassword</td>
        <td> @students.Student.PhoneNo</td>
        <td>
            <ul>
                @foreach (var coursesId in students.Courses)
                {

                    var course = Model.CoursesList.SingleOrDefault(c => c.CourseId == Convert.ToInt32(coursesId));
                    <li> @course.CourseName</li>
                }
            </ul>
        </td>
        <td><button><a href="@Url.Action("UpdateStudentRecord", "Student", new { id = students.Student.StudentId })">Edit</a></button>
        <td><button><a href="@Url.Action("DeleteStudentRecord","Student",new { id = students.Student.StudentId})">Delete</a></button></td>
    </tr>
    }
</table>
